.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  text-align: center;
  font-size: 50px;
}
button{
  padding:7px 20px;
  margin-left:1rem;
  font-size: 18px;
}
button:nth-child(1){
  background-color: aquamarine;
}
button:nth-child(2){
  background-color:rgb(133, 145, 212);
}
button:nth-child(3){
  background-color:burlywood;
}
button:nth-child(4){
  background-color:chartreuse;
}
button:nth-child(5){
  background-color:cornflowerblue;
}
button:nth-child(6){
  background-color:darkgrey;
}
.button{
  display: flex;
  justify-content: center;
}














